:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
}

/* var(--tertiary-color) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive, Helvetica, sans-serif;
}

a {
    text-decoration: none !important;
    color: inherit;
}

/* Header Start */
header {
    background-color: #2d313b;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    padding: 5px 50px 15px 0;
}

header a {
    text-decoration: none;
    color: #96cecf;
}

.mynamecolor {
    color: #2d313b !important;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    background-color: #96cecf;
}

.myname {
    background-color: #96cecf;
    text-align: right;
    width: 350px;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-bottom: 6px solid #96cecf;
    padding: 1px 30px;
}

.nav-space {
    width: 25px;
}

header nav ul li a:hover {
    background: #96cecf;
    color: #2d313b;
    border-bottom: 6px solid #2d313b;
    text-shadow: none;
}
/* Header End */

/* Hero Start */
.hero {
    background-image: url("../images/jtwb.jpg");
    background-size: cover;
    display: flex;
    align-items: flex-end;
    align-content: center;
    justify-content: flex-end;
    height: 200px;
    padding: 0 40px 15px 0;
}
  
.hero-title {
    background-color: #96cecf;
    color: #2d313b;
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
}
/* Hero End */

.spacer {
    font-size: 25px;
    text-align: right;
    color: #415979;
    border-right: 3px solid #415979;
    padding: 0 10px 10px 80px;
    width: 200px
}

.spacer-special {
    padding: 0 10px 10px 50px;
}

/* About Me Section Start */
.about-me {
    padding: 25px 0;
    display: flex;
}

.about-me-article {
    padding: 2px 25px;
}
/* About Me Section End */

/* Work Section Start */
.work {
    display: flex;
}

.cards {
    padding: 2px 25px;
    display: flex;
    flex-wrap: wrap;
    width: 690px;
}

.work-card {
    background-image: url("../images/code-snapshot.png");
    width: 300px;
    height: 100px;
    background-size: cover;
    border: 7px solid #96cecf;
    margin: 10px;
    padding: 0 0 15px 0;
    background-attachment: fixed;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
}

.first-card {
    width:620px;
    height:300px;
}

.card-title {
    background-color:#96cecf;
    padding: 5px;
}

.run-buddy {
    width: 240px;
}

.horiseon {
    width: 216px;
}

.coming-soon {
    width: 129px;
}

.work-card:hover {
    background: #96cecf;
    color: #2d313b;
    border: 6px solid white;
    text-shadow: none;
}

.work-card h4 {
    font-size: 10px;
    font-weight: lighter;
}

/* Work Section End */

/* footer Start */
.contact-me {
    padding: 25px 0;
    display: flex;
}

.contact-info {
    padding: 50px 25px;
}

footer nav {
    margin: 7px 0;
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

footer nav ul li a {
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-bottom: 6px solid #96cecf;
    padding: 1px 30px;
}

footer nav ul li a:hover {
    background: #96cecf;
    color: #2d313b;
    border-bottom: 6px solid white;
    text-shadow: none;
}
/*Footer End */

  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {
    header, footer {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1, footer h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul, footer nav ul  {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a, footer nav ul li a {
      font-size: 20px;
    }

    .spacer {
        flex-shrink: 0;
        font-size: 20px;
        text-align: right;
        color: #415979;
        width:100px;
        padding:0;
    }

    .spacer-special {
        padding: 0 1px 10px 0px;
        font-size: 15px;
        text-align: right;
    }

    .contact-info {
        padding: 10px 25px;
    }
  
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {

    .work-card {
        width: 250px;
        height: 100px;
    }

    .first-card {
        width:440px;
        height:200px;
    }
  }

  
  @media screen and (max-width: 575px) {


    header nav ul li a {
        font-size: 12px;
        padding: 0px;
    }

    .work-card {
        width: 250px;
        height: 100px;
    }

    .first-card {
        width:250px;
        height:200px;
    }
}